        
    
    <div class = "jumbotron">Mongo Scrape YUH!</div>

    <div class="container">
      
      <div class = "row">
      <div id="articles" class = "col-8"></div>
      <div id="notes" class = "col-4"></div>
      </div>
    </div>